/* @font-face {
  font-family: "iconfont";
  src: url('iconfont.woff2?t=1676940305329') format('woff2'),
       url('iconfont.woff?t=1676940305329') format('woff'),
       url('iconfont.ttf?t=1676940305329') format('truetype');
} */
@font-face {
	font-family: "iconfont";
	src: url('/static/iconfont.ttf') format('truetype');
}

.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-print:before {
	content: "\ecbb";
}
